$icomoon-font-family: "NextSSR" !default;
$icomoon-font-path: "fonts" !default;

$icon-Smile-path1: "\e900";
$icon-Smile-path2: "\e901";
$icon-Smile-path3: "\e902";
$icon-Smile-path4: "\e903";
$icon-Smile-path5: "\e904";
$icon-Boxes: "\e906";
$icon-GraduationCap: "\e907";
$icon-HeadSet: "\e908";
$icon-Users: "\e909";
$icon-LeftTestimonial: "\e912";
$icon-RignTestimonial: "\e913";
$icon-Descending: "\e911";
$icon-Ascending: "\e90f";
$icon-icon_right: "\e90e";
$icon-icon_left: "\e910";
$icon-icon_bot: "\e91b";
$icon-icon_top: "\e926";
$icon-ListParagraph: "\e90d";
$icon-TallyfyIcon: "\e905";
$icon-list-ul: "\f0ca";
$icon-list-ol: "\f0cb";
$icon-sort-numeric-asc: "\f162";

